* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#001f3f, #0074D9);

    font-family: sans-serif;
    user-select: none;
}

button {
    all: unset;
}

header {
    position: relative;
    padding: 2em;
} 

header ul {
    padding: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header li {
    padding: none;
    font-size: 48px;
    color: lightgrey;
    cursor: auto;
}

.rps-select-button {
    all: unset;
    font-size: 128px;

    cursor: pointer;
    display: block;
    display: none;
}

.rps-select-button:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.game-content {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
}

.message {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.win-message {
    display: none;
    
    font-weight: bold;
    font-size: 56px;
    padding: .2em;
    color: lightgray;
}

#desc-message {
    font-size: 38px;
    color: darkgray;
}

#click-message {
    font-size: 32px;
    color: darkgray;
}

#gamestart-button {
    background-color: #3D9970;
    font-size: 3em;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
}

#gamestart-button:hover {
    background-color: #2ECC40;
}

.game-hand {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 128px;
    /*animation: handshake-animation .3s 2;*/
}

.player-rps {
    transform: translate(-250%, -50%) scale(-1, 1) rotate(-90deg);
}

.computer-rps {
    transform: translate(150%, -50%) rotate(-90deg);
}

@keyframes hand-animation {
    0% {
        top: -25%;
    }

    100% {
        top: 50%;
    }
}
